---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">Xiaohui Jiang</div>
    <div class="text-3xl py-3 font-bold">PhD candidate, Economic Geography</div>
    
    <div class="py-4">
      <div class="text-lg font-semibold mb-2">Presence times: Mon-Thu</div>
      <div class="text-lg mb-4">xiaohui.jiang@geo.uzh.ch</div>
    </div>
    
    <div class="py-4">
      <div class="text-2xl font-bold mb-2">Research Interests</div>
      <div class="text-lg">
        My research interests lie at industry research, political economy, public policy, economic geography, sociology, and political ethics.
      </div>
      <div class="text-lg mt-2">
        I am currently working on analyzing Chinese agrochemical industry and its relations with Latin America and India.
      </div>
    </div>
    
    <div class="py-4">
      <div class="text-2xl font-bold mb-2">Ph.D Project</div>
      <div class="text-lg font-semibold mb-2">Making herbicide markets: Interactions between production restructuring, agriculture and environment in Latin America and Asia</div>
      <div class="text-lg">
        The project engages with the rapidly restructuring global agrochemical industry. The overall objective is to analyze chemical herbicides as specific drivers of economic and ecological change by interrogating the transformative role of new emerging-market generic production networks in relation to farming practices and environmental effects in Latin America. The specific aims are (1) to understand how herbicide markets are being made in light of chemical dependence on key pesticide compounds, waning effectiveness, and environmental feedback loops; (2) to place these environmental challenges in the context of global production networks for key synthetic herbicides, with emphasis on upstream production in Asia and relations between Latin America and Asia; and (3) to study selected global South herbicide "assemblages" in-depth, focusing on how "last mile" distribution and agricultural use reflects and reshapes environmental challenges and economic strategies in Latin America.
      </div>
    </div>
    
    <div class="py-4">
      <div class="text-2xl font-bold mb-2">Education</div>
      <div class="text-lg"><b>2022-present:</b> University of Zürich - PhD in Economic Geography</div>
      <div class="text-lg"><b>2020-2022:</b> Hong Kong University of Science and Technology, HKSAR - Mphil in Public Policy</div>
      <div class="text-lg"><b>2019-2020:</b> Hong Kong University of Science and Technology, HKSAR - Msc in Global China Studies</div>
      <div class="text-lg"><b>2016-2020:</b> Waseda University, Tokyo, Japan - BA in Global Political Economy</div>
    </div>
    
    <div class="py-4">
      <div class="text-2xl font-bold mb-2">Publications</div>
      <div class="text-lg">
        <div class="font-semibold mb-1">- Conjunctural crises and restructuring of south–south production networks: the example of the Chinese pesticide industry Open Access</div>
        <div class="text-gray-600 mb-2">Xiaohui Jiang, Christian Berndt, Tomás Palmisano, Li Li</div>
        <div class="text-sm text-gray-500 mb-1">Journal of Economic Geography, lbaf042, https://doi.org/10.1093/jeg/lbaf042</div>
        <div class="text-sm text-gray-500 mb-1">Published: 25 October 2025</div>
        <div class="text-sm text-gray-500">Article history: <a href="https://academic.oup.com/joeg/advance-article/doi/10.1093/jeg/lbaf042/8301315" class="text-blue-600 hover:text-blue-800 underline" target="_blank">https://academic.oup.com/joeg/advance-article/doi/10.1093/jeg/lbaf042/8301315</a></div>
        <br />
      </div>
      <div class="text-lg mb-4">
        <div class="font-semibold mb-1">- The Effects of Smart-city Related Public-Private Partnership Contracts on Innovation and the Performance of Smart Cities in China</div>
        <div class="text-gray-600 mb-2">X JIANG, M YARIME</div>
        <div class="text-sm text-gray-500">2021</div>
      </div>
      <br />
      <div class="text-lg mb-4">
        <div class="font-semibold mb-1">- 権威主義的価値観の国際比較──世代差に注目して</div>
        <div class="text-gray-600 mb-2">W JOU, X JIANG</div>
        <div class="text-sm text-gray-500">日本とアジアの民主主義を測る: アジアンバロメータ調査と日本の21世紀, 236</div>
        <div class="text-sm text-gray-500">2021</div>
      </div>
      
    </div>
    
    <div class="mt-8">
      <!-- <button id="contactBtn" class="btn">Contact Me</button> -->
      <!-- <a class="btn" href="mailto:xiaohui.jiang@geo.uzh.ch">Contact Me</a> -->
      <a href="/CV_xiaohui_2025.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-outline ml-5">
        View Full CV
      </a>
    </div>
  </div>
  <!-- <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div> -->

  <!-- <HorizontalCard
    title="123"
    img="/post_img.webp"
    desc="123"
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="123"
    img="/post_img.webp"
    desc="123"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
